<!--<footer>
    <img src="assets/images/logo-min.jpg" alt="Logo di Vinyl Vault">
    <p>Il tuo Vault digitale per il suono analogico.
        Cataloga, esplora e ama collezionare i vinili.</p>
    <nav aria-label="Menù di navigazione del footer">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Esplora</a></li>
            <li><a href="#">Catalogo</a></li>
        </ul>
    </nav aria-label="Menù profilo del footer">
        [profile_nav_menu]
</footer>
-->

<footer id="main-footer">
    <div class="center-container">
        <div class="footer-content">
            <div class="footer-brand">
                <div class="footer-logo">
                    <span class="hide" lang="en">Vinyl Vault</span> <!-- Sostituito con logo tramite image replacement -->
                 </div>
                <p class="footer-description">
                    Il tuo Vault digitale per il suono analogico.<br>
                    Cataloga, esplora e ama collezionare i vinili.
                </p>
            </div>

            <div class="footer-nav">
                <div class="footer-col">
                    <h4>Naviga</h4>
                    <ul>
                        <li><a href=".php">Home</a></li>
                        <li><a href=".php">Esplora</a></li>
                        <li><a href=".php">Catalogo</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Profilo</h4>
                    [profile_nav_menu]
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <p>2025 VinylVault. Tutti i diritti riservati. Certificato accessibilità e html/css</p>
        </div>
    </div>
</footer>