<footer id="main-footer">
    <a href="#" id="back-to-top" aria-label="Torna in cima alla pagina">↑</a>
    <div class="center-container">
        <div class="footer-content">
            <div class="footer-brand">
                <div class="footer-logo">
                    <span class="hide" lang="en">VinylVault</span>
                    <!-- Sostituito con logo tramite image replacement -->
                </div>
                <p class="footer-description">
                    Il tuo <span lang="en">Vault</span> digitale per il suono analogico.<br />
                    Cataloga, esplora e ama collezionare i vinili.
                </p>
            </div>

            <div class="footer-nav">
                <div class="footer-col">
                    <h2>Naviga</h3>
                        <nav class="site-nav" aria-label="Menù di navigazione principale del footer">
                            <ul class="site-nav-links">
                                <li>[home]</li>
                                <li>[explore]</li>
                                <li>[catalogue]</li>
                                <!-- <li><a href="index.php"><span lang="en">Home</span></a></li>
                            <li><a href="esplora.php">Esplora</a></li>
                            <li><a href="catalogo.php">Catalogo</a></li> -->
                            </ul>
                        </nav>
                </div>
                <div class="footer-col">
                    <h2>Profilo</h3>
                        <nav class="profile-nav" aria-label="Menù di navigazione del profilo utente del footer">
                            [profile_nav_menu]
                        </nav>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <p>2025 <span lang="en">VinylVault</span>. Tutti i diritti riservati. Certificato accessibilità e html/css
            </p>
        </div>
    </div>
</footer>