<header>
    <h1 class="hide">Vinyl Vault</h1> <!-- Sostituito con logo tramite image replacement -->
    <nav id="menù" aria-label="menu principale">
        <ul id="nav-links">
            <li><a href="index.php"><span lang="eng">Home</span></a></li>
            <li><a href="esplora.php">Esplora</a></li>
            <li><a href="catalogo.php">Catalogo</a></li>
        </ul>
    </nav>
    <div id="user-actions">
        <a href="login.php" class="btn-primary">Accedi</a>
        <a href="register.php" class="btn-primary">Registrati</a>
    </div>
</header>