<header>
    <div class="center-container header-container">
        <div class="logo">
            <!-- Mettiamo il link alla home nel logo?-->
            <h1 class="hide" lang="en">VinylVault</h1> <!-- Sostituito con logo tramite image replacement -->
        </div>
        <div class="header-right">

            <button class="menu-toggle" 
                    aria-expanded="true" 
                    aria-controls="menu" 
                    aria-label="Apri menù di navigazione">
                <span aria-hidden="true">☰</span>
            </button>
            
            <nav id="menu" aria-label="Menù di navigazione principale">
                <ul class="nav-links">
                    <li>[home]</li>
                    <li>[explore]</li>
                    <li>[catalogue]</li>
                </ul>
            </nav>

            <div class="actions-group"> 
                <button class="search-toggle" >
                    <img class="search-icon" src="assets/images/search.png" alt="" /><span class="sr-only">Cerca nel catalogo</span>
                </button>
                <button class="theme-toggle">
                    <img class="theme-icon" src="assets/images/moon.png" alt="" aria-hidden="true" /><span class="sr-only">Cambia tema visivo</span>
                </button>
            </div>

            <span class="v-divider" role="presentation"></span>
            
            <nav class="profile-nav" aria-label='Menù di navigazione del profilo utente'>[profile_nav_menu]</nav>
        </div>
    </div>
</header>