<!-- <a href="artist.php?id=[artist_id]" aria-label="Vai alla pagina di [artist_name]">
<article class="artist-card card">
<img src="[image_path]" alt="Foto di [artist_name]">
<h3>[artist_name]</h3>
</article>
</a>
-->

<a href="artist.php?id=[artist_id]" class="card-link-wrapper" aria-label="Vai alla pagina di [artist_name]">
    <article class="artist-card vinyl-card">
        <div class="card-image">
            <img src="[image_path]" alt="Foto di [artist_name]">
        </div>
        <div class="card-content">
            <h3 class="artist-name-display">[artist_name]</h3>
        </div>
    </article>
</a>
