<a href="album.php?id=[disk_id]&edition=[ed_name_url]" class="card-link-wrapper" aria-label="Vai alla pagina di [artist] [title] [ed_name]">
    <article class="vinyl-card card" lang="[nationality]">
        <div class="card-image">
            <img src="[cover_image]" loading="lazy" alt=""/>
        </div>
        <div class="card-content">
            <p class="artist-name">[artist]</p>
            <h3 class="album-title">[title]</h3>
            <p class="edition-info">[ed_name]</p>
        </div>
    </article>
</a>