<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="author" content="VinylVault Team"/>
<link rel="stylesheet" href="stylesheets/style_mobile.css" media="screen, print"/>
<link rel="stylesheet" href="stylesheets/style_desktop.css" media="screen and (min-width: 1130px)"/>
<link rel="stylesheet" href="stylesheets/style_print.css" media="print"/>
<!-- Va messo dopo perchè altrimenti le regole rimarrebbero quelle di style.css-->
<link rel="preconnect" href="https://fonts.googleapis.com"/>
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous"/>
<link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet"/>
<link
    href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet"/>
<link 
    href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,700;0,800;0,900;1,100;1,300;1,400;1,700;1,800;1,900&display=swap" 
    rel="stylesheet"/>
<link rel="icon" type="image/png" href="favicon.ico"/>
<script src="scripts/back_to_top.js" defer="defer"></script>
<script src="scripts/burger_menu.js" defer="defer"></script>
<script src="scripts/theme_toggle.js" defer="defer"></script>
<script src="scripts/header_search.js" defer="defer"></script>