<h2 class="add-pages-title">Aggiungi Disco</h2>
<div id="add-pages">

    <form id="add-pages-form" action="php/controllers/add_disk_controller.php" method="POST"
        enctype="multipart/form-data">
        <fieldset>
            <legend>Informazioni disco</legend>

            <div class="input-wrapper">
                <div class="label-container">
                    <label for="title">Titolo del Disco</label>
                    <span class="required-field" id="title-error">Obbligatorio</span>
                </div>
                <p class="input-example"><abbr title="ad esempio">es.</abbr> <span lang="en">"The Dark Side of the
                        Moon"</span></p>

                <input type="text" id="title" name="title" required maxlength="200" pattern="[a-zA-Z0-9àèéìòùÀÈÉÌÒÙ\s]+"
                    value="[title]" required>

                <ul class="input-examples">
                    <li>Massimo 200 caratteri</li>
                    <li>Caratteri consentiti: lettere, numeri e spazi</li>
                </ul>

            </div>

            <div class="input-wrapper">
                <div class="label-container">
                    <label for="artist">Artista</label>
                    <span class="required-field">Obbligatorio</span>
                </div>

                <select id="artist" name="artist" required>
                    <option value="" disabled selected>Seleziona un artista</option>
                    [artist_options]
                </select>

                <p>Non trovi l'artista? <a href="add_artist.php" aria-label="Aggiungi artista">Aggiungilo</a></p>

            </div>

            <div class="input-wrapper">
                <div class="label-container">
                    <label for="type">Tipo</label>
                    <span class="required-field">Obbligatorio</span>
                </div>

                <select id="type" name="type" required>
                    <option value="" disabled selected>Seleziona un tipo</option>
                    [type_options]
                </select>

            </div>

            <div class="input-wrapper">
                <div class="label-container">
                    <label for="label">Etichetta discografica</label>
                    <span class="required-field">Obbligatorio</span>
                </div>
                <p class="input-example"><abbr title="ad esempio">es.</abbr> <span lang="en">"Sony Music"</span></p>

                <input type="text" id="label" name="label" required maxlength="200" pattern="[a-zA-Z0-9àèéìòùÀÈÉÌÒÙ\s]+"
                    value="[label]" required>

            </div>

            <div class="input-wrapper">
                <div class="label-container">
                    <label for="genre">Genere</label>
                    <span class="required-field">Obbligatorio</span>
                </div>

                <select id="genre" name="genre[]" required>
                    <option value="" disabled selected>Seleziona un genere</option>
                    [genre_options]
                </select>

            </div>

        </fieldset>

        <fieldset>
            <legend>Specifica ulteriori generi (opzionale)</legend>

            [additional_genres]
        </fieldset>

        [errors]

        <button type="submit" class="btn-primary add-pages-btn">Aggiungi Disco</button>
    </form>

</div>