<article class="collection-item">
    <div class="disk-info">
        <img src="[image_url]" alt="">
        <div class="collection-item-details">
            <p class="artist-name">[author]</p>
            <h2 class="album-title">[title]</h2>
            <p class="edition-info">[edition_name]</p>
            <p class="release-info">[country] - <time datetime="[year_datetime]">[year]</time></p>
            <div class="collection-rating-section">
                <div class="stars-container">
                    <span class="star" data-value="1">★</span>
                    <span class="star" data-value="2">★</span>
                    <span class="star" data-value="3">★</span>
                    <span class="star" data-value="4">★</span>
                    <span class="star" data-value="5">★</span>
                    
                    <button type="button" class="btn-reset-stars" aria-label="Resetta valutazione">×</button>
                </div>
                <p class="evaluation-label">Valutazione personale</p>
                <input type="hidden" name="rating[]" form="collection-form" class="rating-input" value="0">
            </div>
            <input type="hidden" form="collection-form" name="disk_id[]" value="[disk_id]"/>
            <input type="hidden" form="collection-form" name="edition_name[]" value="[edition_name]"/>

            <input type="hidden" name="rating" class="rating-input" value="[rating_value]">
        </div>
    </div>
    <div class="delete-selection">
        <label class="checkbox-container">
            <label class="label-text" for="delete-[disk_id]-[edition_name]">Seleziona per eliminare</label>
            <input type="checkbox" form="collection-form" id="delete-[disk_id]-[edition_name]" name="items_to_delete[]" value="[disk_id]_[edition_name]" aria-label="Seleziona [title] per l'eliminazione" [checked]/>
        </label>
    </div>
</article>