<article class="collection-item" lang="[nationality]">
    <a href="album.php?id=[disk_id]&edition=[edition_name_url]" class="card-link-wrapper disk-info" aria-label="[author] [title] [edition_name] [country] - [year] Valutazione personale:[rating_value] su 5 stelle, clicca per andare alla pagina con i dettagli dell'album">
        <img src="[image_url]" alt="" loading="lazy">
        <div class="collection-item-details">
            <p class="artist-name">[author]</p>
            <h2 class="album-title">[title]</h2> <p class="edition-info">[edition_name]</p>
            <p class="release-info">[country] - <time datetime="[year_datetime]">[year]</time></p>

            <div class="rating-section" role="img" 
                 aria-label="Valutazione: [rating_value] su 5 stelle" data-rating="[rating_value]">
                <div class="stars-container readonly" aria-hidden="true">
                    <span class="star" data-value="1">★</span>
                    <span class="star" data-value="2">★</span>
                    <span class="star" data-value="3">★</span>
                    <span class="star" data-value="4">★</span>
                    <span class="star" data-value="5">★</span>
                </div>
                <span class="evaluation-label">Valutazione personale</span>
            </div>
            
        </div>
    </a>
</article>