<div role="status" aria-live="polite" class="empty-collection-state">
    <img id="empty-collection-image" src="../../../../assets/images/empty2-removebg-preview.webp" alt="">
    <h2 id="empty-collection-heading">La tua collezione è vuota</h2>
    <p id="empty-collection-paragraph">Quali dischi sogni di aggiungere alla tua collezione? Questo spazio vuoto non è un'assenza, è la tua prossima grande opportunità. <a href="../../explore.php">Esplora il catalogo</a>, trova i tuoi prossimi tesori musicali e salvali per non farteli sfuggire.</p>
</div>