<a href="album.php?id=[disk_id]" class="card-link-wrapper" aria-label="Vai alla pagina di [title] di [artist]">
    <article class="vinyl-card card">
        <div class="card-image">
            <p class="badge"><abbr title="[ordinal_index] posto">[index]°</abbr></p>
            <img src="[cover_image]" alt="Copertina di [title] di [artist]" loading="lazy">
        </div>
        <div class="card-content">
            <p class="artist-name">[artist]</p>
            <h3 class="album-title">[title]</h3>
            <p class="edition-info">[ed_name]</p>
        </div>
    </article>
</a>