<article class="vinyl-card card [direction] [span_class]">
    <div class="card-image">
        <p class="badge"><abbr title="[ordinal_index] posto">[index]°</abbr></p>
        <img src="[cover_image]" alt="" aria-hidden="true">
    </div>
    <div class="card-content">
        <p class="artist-name"><a href="artist.php?id=[artist_id]" aria-label="Vai alla pagina di [artist]">[artist]</a></p>
        <h2 class="album-title"> [title]</h2>
        <p class="edition-info"><a href="edition.php?name=[ed_name]" aria-label="Vai alla pagina di [title] edizione [ed_name]">[ed_name]</a></p>
    </div>
</article>