<section id="call-to-action" class="center-container" aria-labelledby="cta-title">
    <div class="cta-banner">
        <div class="cta-content">
            <h2 id="cta-title">Unisciti agli altri appassionati!</h2>
            <p>Unisciti agli altri collezionisti che stanno costruendo la loro eredità musicale oggi. È gratuito
                e lo
                sarà sempre.</p>
        </div>
        <div class="cta-action">
            <a href="register.php" class="btn-primary">Crea Account</a>
        </div>
    </div>
</section>