<h2 class="add-pages-title">Aggiungi Tracce</h2>
<div id="add-pages">

    [errors]
    <form id="add-pages-form" action="php/controllers/add_tracks_controller.php" method="POST"
        enctype="multipart/form-data">
            
        <fieldset>
            <legend>Informazioni disco ed edizione</legend>
            <div class="input-wrapper">
                <div class="label-container">
                    <label for="disk">Seleziona il disco</label>
                    <span class="error-message" id="disk-error" aria-live="polite">Obbligatorio</span>
                </div>

                <select id="disk" name="disk" required>
                    <option value="" disabled selected>Seleziona un disco</option>
                    [disk_options]
                </select>

            </div>

            <div class="input-wrapper">
                <div class="label-container">
                    <label for="edition">Seleziona l'edizione</label>
                    <span class="error-message" id="edition-error" aria-live="polite">Obbligatorio</span>
                </div>

                <select id="edition" name="edition" required>
                    <option value="" disabled selected>Seleziona l'edizione</option>
                    [edition_options]
                </select>
                <ul class="input-examples">
                    <li>Massimo 200 caratteri</li>
                    <li>Caratteri consentiti: lettere, numeri e spazi</li>
                </ul>
            </div>
            

        </fieldset>

        <fieldset id="track-0" class="track-fieldset">
            <legend>Traccia 1</legend>
            <div class="track-inputs">
                <div class="input-wrapper input-track-title">
                    <div class="label-container">
                        <label for="title-0">Titolo della traccia</label>
                        <span class="error-message" id="title-0-error" aria-live="polite">Obbligatorio</span>
                    </div>
                    
                    <input type="text" id="title-0" name="title[]" required maxlength="200"
                        pattern="[a-zA-Z0-9àèéìòùÀÈÉÌÒÙ\s]+" value="[first_track_title]" required>
                    
                </div>

                <div class="input-wrapper input-track-duration">
                    <div class="label-container">
                        <label for="duration-0">Durata (in secondi)</label>
                        <span class="error-message" id="duration-0-error" aria-live="polite">Obbligatorio</span>
                    </div>
                    
                    <input type="number" id="duration-0" name="duration[]" class="track-duration" value="[first_track_duration]" min="1" max="32767" required>
                    
                </div>
            </div>

        </fieldset>

        [track_form_items]

        <button type="button" id="add-track-button" class="btn-secondary add-pages-btn">Aggiungi un'altra traccia</button>

        <button type="submit" class="btn-primary add-pages-btn">Salva Tracce</button>
    </form>
    
</div>