<article class="collection-item">
    <div class="disk-info">
        <div class="card-image">
            <img src="[image_url]" alt="" loading="lazy">
        </div>
        <div class="collection-item-details">
            <dl>
                <dt class="sr-only">Autore:</dt>
                <dd class="artist-name" lang="[nationality]">[author]</dd>
                <dt class="sr-only">Titolo:</dt>
                <dd>
                    <h3 class="album-title" lang="[nationality]">[title]</h3>
                </dd>
                <dt class="sr-only">Edizione</dt>
                <dd class="edition-info" lang="en">[edition_name]</dd>
                <dt class="sr-only">Paese e data di rilascio:</dt>
                <dd class="release-info">
                    [country] - <time datetime="[year_datetime]">[year]</time>
                </dd>
            </dl>
            <fieldset class="rating">
                <legend class="evaluation-label sr-only">Valutazione personale</legend>
                <div class="stars-container" data-rating="[rating_value]">
                    <input type="radio" id="star1-[disk_id]-[edition_name_id]" name="rating-[disk_id]-[edition_name_id]"
                        value="1" />
                    <label for="star1-[disk_id]-[edition_name_id]" title="1 stella">1</label>

                    <input type="radio" id="star2-[disk_id]-[edition_name_id]" name="rating-[disk_id]-[edition_name_id]"
                        value="2" />
                    <label for="star2-[disk_id]-[edition_name_id]" title="2 stelle">2</label>

                    <input type="radio" id="star3-[disk_id]-[edition_name_id]" name="rating-[disk_id]-[edition_name_id]"
                        value="3" />
                    <label for="star3-[disk_id]-[edition_name_id]" title="3 stelle">3</label>

                    <input type="radio" id="star4-[disk_id]-[edition_name_id]" name="rating-[disk_id]-[edition_name_id]"
                        value="4" />
                    <label for="star4-[disk_id]-[edition_name_id]" title="4 stelle">4</label>

                    <input type="radio" id="star5-[disk_id]-[edition_name_id]" name="rating-[disk_id]-[edition_name_id]"
                        value="5" />
                    <label for="star5-[disk_id]-[edition_name_id]" title="5 stelle">5</label>
                </div>
            </fieldset>
            <input type="hidden" form="collection-form" name="disk_id[]" value="[disk_id]" />
            <input type="hidden" form="collection-form" name="edition_name[]" value="[edition_name]" />
            <input type="hidden" form="collection-form" name="rating[]" value="[rating_value]"
                class="rating-hidden-input" data-item="[disk_id]-[edition_name_id]" />
        </div>
    </div>
    <div class="delete-selection">
        <fieldset class="checkbox-container">
            <legend class="sr-only">Seleziona per eliminare [title]</legend>
            <input type="checkbox" form="collection-form" id="delete-[disk_id]-[edition_name_id]"
                name="items_to_delete[]" value="[disk_id]_[edition_name]" [checked] />
            <label class="label-text" for="delete-[disk_id]-[edition_name_id]">Seleziona per eliminare</label>
        </fieldset>
    </div>
</article>