<h2 class="add-pages-title">Aggiungi Disco</h2>
<div id="add-pages">

    <div id="errors-section">
        [errors]
    </div>
    <form id="add-pages-form" action="php/controllers/add_disk_controller.php" method="POST" enctype="multipart/form-data">
        <fieldset>
            <legend>Informazioni disco</legend>

            <div class="input-wrapper">
                <label for="title">
                    <span class="label-text">Titolo del Disco</span>
                    <span class="required-field" id="title-error">Obbligatorio</span>
                </label>

                <input type="text" id="title" name="title" required maxlength="200" pattern="[a-zA-Z0-9àèéìòùÀÈÉÌÒÙ\s]+"
                    value="[title]" required>

                <ul class="input-examples">
                    <li><abbr title="ad esempio">es.</abbr> <span lang="en">"The Dark Side of the Moon"</span></li>
                    <li>Massimo 200 caratteri</li>
                    <li>Caratteri consentiti: lettere, numeri e spazi</li>
                </ul>

            </div>

            <div class="input-wrapper">
                <label for="artist">
                    <span class="label-text">Artista</span>
                    <span class="required-field" id="artist-error">Obbligatorio</span>
                </label>

                <select id="artist" name="artist" required>
                    <option value="" disabled selected>Seleziona un artista</option>
                    [artist_options]
                </select>

                <p>Non trovi l'artista? <a href="add_artist.php">Aggiungi un nuovo artista</a></p>

            </div>

            <div class="input-wrapper">
                <label for="type">
                    <span class="label-text">Tipo</span>
                    <span class="required-field" id="type-error">Obbligatorio</span>
                </label>

                <select id="type" name="type" required>
                    <option value="" disabled selected>Seleziona un tipo</option>
                    [type_options]
                </select>

            </div>

            <div class="input-wrapper">
                <label for="label">
                    <span class="label-text">Etichetta discografica</span>
                    <span class="required-field" id="label-error">Obbligatorio</span>
                </label>

                <input type="text" id="label" name="label" required maxlength="200" pattern="[a-zA-Z0-9àèéìòùÀÈÉÌÒÙ\s]+"
                    value="[label]" required>
                <ul class="input-examples">
                    <li><abbr title="ad esempio">es.</abbr> <span lang="en">"Sony Music"</span></li>
                    <li>Massimo 200 caratteri</li>
                    <li>Caratteri consentiti: lettere, numeri e spazi</li>
                </ul>
            </div>

            <div class="input-wrapper">
                <label for="genre-0">
                    <span class="label-text">Genere</span>
                    <span class="required-field" id="genre-0-error" class="genre-error">Obbligatorio</span>
                </label>
                <select id="genre-0" class="genre" name="genre[]" required>
                    <option value="" disabled selected>Seleziona un genere</option>
                    [genre_options]
                </select>

            </div>

        </fieldset>

        <fieldset>
            <legend>Specifica ulteriori generi (opzionale)</legend>

            [additional_genres]
        </fieldset>

        <button type="submit" class="btn-primary add-pages-btn">Aggiungi Disco</button>
    </form>

</div>