<div role="status" aria-live="polite" class="empty-collection-state">
    <p class="sr-only">Lista dei desideri vuota</p>
    <img id="empty-collection-image" src="../../../../assets/images/empty2-removebg-preview.png" alt="">
    <h2 id="empty-collection-heading">Quali dischi sogni di aggiungere alla tua lista dei desideri?</h2>
    <p id="empty-collection-paragraph">Questo spazio vuoto non è un'assenza, è la tua prossima grande opportunità. <a href="../../esplora.php">Esplora il catalogo</a>, trova i tuoi prossimi tesori musicali e salvali per non farteli sfuggire.</p>
</div>