<tr>
    <td aria-hidden="true"><img src="[image_url]" alt=""></td>
    <th scope="row" data-title="Titolo">[title]</th>
    <td data-title="Edizione">[edition_name]</td>
    <td data-title="Livello di Priorità">
        <input type="hidden" form="wishlist-form" name="disk_id[]" value="[disk_id]"/>
        <input type="hidden" form="wishlist-form" name="edition_name[]" value="[edition_name]"/>
        <input aria-label="Livello di Priorità" form="wishlist-form" type="number" max=100 min=0 name="priority_level[]" value="[priority_level]" required/>
        <p class="priority-error-message" style="display: none;">Inserire un valore tra 0 e 100</p>
    </td>
    <td data-title="Seleziona">
        <input type="checkbox" form="wishlist-form" name="items_to_delete[]" value="[disk_id]_[edition_name]" aria-label="Seleziona [title] per eliminazione"/>
    </td>
</tr>