<article class="wishlist-item">
    <div class="wishlist-item-image" aria-hidden="true">
        <img src="{{ item.image_url }}" alt="">
    </div>
    <div class="wishlist-item-details">
        <p class="wishlist-item-author">[author]</p>
        <h2 class="wishlist-item-name">[title]</h2>
        <p class="wishlist-edition-name">[edition_name]</p>
        <p class="wishlist-item-release-info">[country] - [release_date]</p>
        <p class="wishlist-item-priority-level">[priority_level]</p>
    </div>
</article>