[errors]
<section id="collection">
    <form class="collection-grid-container" id="wishlist-form" action="php/controllers/manage_wishlist_item.php"
        method="POST">
        <input type="hidden" name="action" value="edit_multiple" />
        [wishlist_items]
        <div class="wishlist-actions collection-grid-actions">
            <button type="submit" form="wishlist-form" class="btn-primary">Salva Modifiche</button>
            <a href="wishlist.php" class="btn-cancel" role="button">Annulla</a>
        </div>
    </form>
</section>