<table aria-describedby="descr" id="wishlist-table">
    <thead>
        <tr>
            <th aria-hidden="true"></th> <!-- Column dedicated to element img-->
            <th scope="col">Titolo</th>
            <th scope="col">Edizione</th>
            <th scope="col">Paese</th>
            <th scope="col">Anno</th>
            <th scope="col">Priorità</th>
        </tr>
    </thead>
    <tbody>
        [wishlist_table_rows]
    </tbody>
    <caption>Lista dei desideri</caption>
</table>
<p id="descr" class="sr-only">Tabella che mostra i dischi presenti nella lista dei desideri con le seguenti colonne: immagine del disco, titolo, edizione, paese, anno e livello di priorità.</p>