<h2 class="add-pages-title">Aggiungi Tracce</h2>
<div id="add-pages">

    <div id="errors-section">
        [errors]
    </div>
    <form id="add-pages-form" action="php/controllers/add_tracks_controller.php" method="POST"
        enctype="multipart/form-data">
            
        <fieldset>
            <legend>Informazioni disco ed edizione</legend>
            <div class="input-wrapper">
                <label for="disk">
                    <span class="label-text">Seleziona il disco</span>
                    <span class="required-field" id="disk-error">Obbligatorio</span>
                </label>

                <select id="disk" name="disk" required>
                    <option value="" disabled selected>Seleziona un disco</option>
                    [disk_options]
                </select>

            </div>

            <div class="input-wrapper">
                <label for="edition">
                    <span class="label-text">Seleziona l'edizione</span>
                    <span class="required-field" id="edition-error">Obbligatorio</span>
                </label>

                <select id="edition" name="edition" required>
                    <option value="" disabled selected>Seleziona l'edizione</option>
                    [edition_options]
                </select>
            </div>

            <noscript>
                <button type="submit" class="btn-primary add-pages-btn">Seleziona Disco ed Edizione</button>
            </noscript>


        </fieldset>

    </form>

    <form id="add-pages-form" action="php/controllers/add_tracks_controller.php" method="POST"
        enctype="multipart/form-data">

        [track_form_items]

        <p class="error-message" id="max-tracks-error"></p>
        <button type="button" id="add-track-button" class="btn-secondary add-pages-btn">Aggiungi un'altra
            traccia</button>

        <button type="submit" class="btn-primary add-pages-btn">Salva Tracce</button>
        <input type="hidden" name="disk" value="[selected_disk]" />
        <input type="hidden" name="edition" value="[selected_edition]" />
    </form>

</div>